.user-settings-container {
  min-height: 80vh;
  max-width: 80%;
}
.user-settings-container > h2 {
  text-align: center;
  padding: 3rem 5rem;
  font-weight: 600;
}
.user-orders-table-head > th {
  background: #0d6efd;
  color: white;
}
.user-orders-table {
  border-radius: 1rem;
  overflow: hidden;
}
.badges-table-data {
  min-width: 5rem;
}
.badge-success {
  color: white;
  padding: .4rem;
  background: #198754;
  border-radius: 2rem;
  width: 100%;
}
.badge-warning {
  color: black;
  padding: .4rem;
  background: #FFC107;
  border-radius: 2rem;
  width: 100%;
}

@media (min-width: 1000px) and (max-width: 1360px) {
  .user-settings-container {
    max-width: 90%;
  }
  .user-settings-container .row .col-sm-2 {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 1000px) {
  .user-settings-container .row {
    flex-wrap: wrap;
  }
  .user-settings-container .row .col-sm-2, .user-settings-container .row .col-sm-5 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .user-settings-container > h2 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 465px) {
  .account-data-container {
    flex-wrap: wrap;
  }
  .badge-warning {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .account-data-container .datas {
    padding: 1rem .5rem;
  }
}