footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.background {
  margin-top: 5rem;
  width: 100%;
  background-color: black;
  padding-bottom: 2.5rem;
}
.contact-us {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.form-control::placeholder {
  color: lightgrey;
}
footer .col {
  color: white;
}
@media (max-width: 700px) {
  footer .email-input-form {
    flex-wrap: wrap;
  }
}